.top-buffer { margin-top:100px; }
    	.heap {
    		width:375px;border-radius:5px;background-color:#555;padding:10px;
    	}
    	.heap .young{
    		height:150px;
    	}
    	.heap .young .space, .heap .old{
    		border-radius:5px;
    	}
    	.heap .young .space{
    		height:145px;float:left;
    	}
    	.heap .young .eden {
    		width:180px;background-color:#5bc0de;
    	}
    	.heap .young .s1 {
    		width:75px;background-color:#5bc0de;margin-left:12px;
    	}
    	.heap .young .s2 {
    		width:75px;background-color:#5bc0de;margin-left:12px;
    	}
    	.heap .old {
    		height:145px;background-color:#428bca;
    	}
    	.heap .object{
    		width:30px;height:30px;background-color:#f0ad4e;margin-left:5px;margin-top:5px;float:left;border-radius:10px;border:3px solid #555;
    		
    	}
    	.heap .object.notuse{
    		border-style:dotted; font-size: 15px;font-weight: bold;color:#555;line-height:0px;padding: 5px 2px; 
    	}
    	.heap .object.notuse:before{
    		content:"x";
    	}
    	.heap .object.markuse{
    		background-image: radial-gradient(circle at center, #d9534f 4px, transparent 5px);
    		background-size: 15px 15px;
    		background-position: top left;
    		background-repeat: no-repeat;
    	}
    	.heap .young .object.copying{
    		background-color:#5bc0de;border-style:dotted;
    	}
    	.heap .old .object.copying{
    		background-color:#428bca;border-style:dotted;
    	}
    	.heap .young .object.empty,.heap .old .object.empty{
    		display:none;
    	}
    	
    	.heap .h-label{
    		color:#eee;font-weight:bold;
    	}
    	.heap .h-label span{
    		text-align:center;display:inline-block;
    	}
    	.heap .h-label div{
    		text-align:center;
    	}
    	.heap .h-label .eden {
    		width:180px;
    	}
    	.heap .h-label .s1 {
    		width:70px;margin-left:10px;
    	}
    	.heap .h-label .s2 {
    		width:70px;margin-left:10px;
    	}
    	
    	.cheap {
    		width:375px;border-radius:5px;background-color:#555;padding:10px;
    	}
    	.cheap .space{
    		height:290px;
    	}
    	.cheap .h-label{
    		color:#eee;font-weight:bold;
    	}
    	.cheap .h-label span{
    		text-align:center;display:inline-block;width:100%;
    	}
    	.cheap .object{
    		width:30px;height:30px;background-color:#f0ad4e;margin-left:5px;margin-top:5px;float:left;border-radius:5px;border:2px solid #f0ad4e;
    		
    	}
    	.cheap .object.eden{
    		background-color:#5bc0de;border:2px solid #5bc0de;
    		
    	}
    	.cheap .object.survivor{
    		background-color:#428bca;border:2px solid #428bca;
    		
    	}
    	.cheap .object.old{
    		background-color:#f0ad4e;border:2px solid #f0ad4e;
    		
    	}
    	.cheap .object.empty{
    		background-color:#555;border:2px dotted #777;
    	}
    	.cheap .object.markuse{
    		background-image: radial-gradient(circle at center, #d9534f 4px, transparent 5px);
    		background-size: 15px 15px;
    		background-position: top left;
    		background-repeat: no-repeat;
    	}
    	.cheap .legend{
    		height:20px;color:#eee;margin-left:30px;
    	}
		.cheap .legend .object{
    		width:15px;height:15px;margin-left:15px;
    	}
    	.cheap .legend .title{
    		float:left;margin-top:2px;margin-left:3px;
    	}
	
   		footer{
   			padding-top: 40px;padding-bottom: 40px;margin-top: 100px;color: #777;text-align: center;border-top: 1px solid #e5e5e5;
   		}
   	